    /* google font */
    @import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@100;200;500&display=swap');

/* global styling */
*, *::before, *::after{
    box-sizing: border-box;
    font-weight: normal;
    font-family: Gotham Rounded, sans-serif;
    }

    body{
        margin: 0;
        padding: 0;
    }

    html{
        font-size: 62.5%;
        font-family: 'Epilogue', sans-serif;
    }




